@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

*{
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}


/**************************** HTML elements *****************************/


html{
    background:#A8A8A8;
}

table {
    border-collapse: collapse;
    /*causes centering*/
    /*margin: 0 auto; */
}

textarea {
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    /*border: 1px solid #bdbdbd;*/
    /*border-radius: 5px;*/
    padding: 5px 5px 5px 10px;
    width:100%;
}

input {
    font-size: 1.2em;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
}

input[type="text"] {
    font-size: 1.2em;
    width: auto;
    background: #f2f2f2
}

input#listform {
    font-size: 1.2em;
    width: 3em;
    background: lightblue;
    border:none;
}

input#retiredrecipesform {
    display: inline-block;
    font-size: 1.2em;
    width: 80%;
    background: lightblue;
    border:none;
}

input#listform:focus{
    border: none;
    background: #f2f2f2;
}

input:focus {
    border: 1px solid black;
    background: #f2f2f2;
}

input#submit {
    color: #ffffff;
    background-color: #665544;
    border: none;
    border-radius: 5px;
}

input#submit:hover {
    color: #665544;
    background-color: #efefef;
}

select {
    font-size: 1.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    /* needed for Firefox: */
    overflow:hidden;
    background:lightblue;
    color: #5a5854;
}

th {
    font-size: 1.2em;
}

table, th, td {
    border: 1px solid brown;
}

td {
    padding: 10px;
}

ul {
    list-style:none;
    padding-left:0;
}

li {
    line-height: 2em;
}

li#nospace {
    line-height: 1em;
}

.button {
    display: inline-block;
    background-color: #665544;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
}

.button#recipe {
    padding: .5em;
}

.button#recipe:hover {
    color: #665544;
    background-color: #efefef;
}

.button#nav {
    background-color: #4E9CAF;
    padding: .2em;
    text-align: center;
    margin: .2em;
    float: left;
    display: inline block;
    text-size: 1em;
}

.button:hover {
    color: #665544;
    background-color: #efefef;
}

.button#nav:hover {
    color: #665544;
    background-color: #efefef;
}

.button#delete {
    background-color: red;
    padding: .2em;
    text-align: center;
    margin: .2em;
    display: inline block;
    text-size: 1em;
}

.button#delete:hover {
    color: #665544;
    background-color: #efefef;
}

.button#deleteforever {
    background-color: red;
    float:right;
    padding: .2em;
    text-align: center;
    margin: .2em;
    display: inline block;
    font-size: .4em;
}

.button#deleteforever:hover {
    color: #665544;
    background-color: #efefef;
}

#title {
    background:grey;
    text-align:center;
    font-weight:bold;
    padding: 0.5em;
    color: white;
    font-size: 2em;
}

#aside {
    display:block;
    background:lightgrey;
    padding: 1em;
    white-space: wrap;
}

#aside2 {
    display:inline block;
    background:lightblue;
    padding: 1em;
    white-space: wrap;
    float: right;

}

#innercontent{
    display: block;
    background: lightblue;
    white-space: wrap;
    float: left;
    width: 100%:

}

#content {
    display: block;
    background:lightblue;
    padding: 1em;
    white-space: wrap;
}

#navleft {
    float:left;
}

#navright {
    float:right;
}

.listName {
    display: inline-block;
}




/********************************************* File Upload *****************************/


.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


