@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

*{
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

html{
    background:#A8A8A8;
}

table{
    border-collapse: collapse;
    /*causes centering*/
    /*margin: 0 auto; */
}

textarea{
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    width:100%;
}

input {
    font-size: 1.2em;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
}

input#text {
    width: 100%
}

input:focus {
    border: 1px dotted #dcdcdc;
    outline: none;
}

input#submit {
    color: #ffffff;
    background-color: #665544;
    border: none;
    border-radius: 5px;
}

input#submit:hover {
    color: #665544;
    background-color: #efefef;
}

th {
    font-size: 1.2em;
}

table, th, td {
    border: 1px solid brown;

}

td {
    padding: 10px;
}

ul {
    list-style:none;
    padding-left:0;
}

li {
    line-height: 3em;
}

.button {
    display: inline-block;
    background: #4E9CAF;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: .05em;
    text-decoration: none;
}

.buttonnav{
    display: inline-block;
    background: #4E9CAF;
    padding: .1em;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: .05em;
    text-decoration: none;
}

#title {
    background:grey;
    text-align:center;
    font-weight:bold;
    padding: 0.5em;
    color: white;
}

#aside {
    display:block;
    background:lightgrey;
    padding: 1em;
    white-space: wrap;
}

#aside2 {
    display:block;
    background:lightgrey;
    padding: 1em;
    white-space: wrap;
}

#content {
    display: block;
    background:lightblue;
    padding: 1em;
    white-space: wrap;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
