{% load staticfiles %}
{% load menu_extras %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<div id="title">
    Edit: {{ recipe.name }}
</div>
<div id="content">
    <div id="directions">
        <a href="{% url 'menu:index' %}">Back to Recipe List</a>
        <a href = "{% url 'menu:recipedetails' recipe.id %}">View Recipe Details</a>
        <br><br>
        <form action="{% url 'menu:updaterecipe' recipe.id %}" method="post">
        {% csrf_token %}
            <input type=text name="method" value="{{ recipe.prepMethod }}">Prep Method<br><br>
            <input type=text name="temp" value="{{ recipe.temperature }}">Temperature Setting<br><br>
            <input type=text name="prep" value="{{ recipe.prepTime }}">Prep Time (minutes)<br><br>
            <input type=text name="cook" value="{{ recipe.cookTime }}">Cook Time (minutes)<br><br>
            <input type=text name="serves" value="{{ recipe.servings }}">Servings<br><br>
            Directions<br>
            <textarea name="directions" ROWS=4 COLS=30>{{ recipe.directions }}</textarea><br><br>
            <input type=submit value="Update Recipe Details" />
        </form>

    </div>
    <div id="middle">
    </div>
</div>
