{% load staticfiles %}
{% load menu_extras %}
{% include "menu/hamburgermenu.html" %}
{% include "menu/stylesheets.html" %}

<div id="title">
    Recipe Home
</div>
<div id="content">
    <div>
        <a class="button" id="nav" href="{% url 'menu:addrecipe' %}">Add Recipe</a>
        <a class="button" id="nav" href="{% url 'menu:shoppinglist' %}">View Shopping List</a>
    </div><div style="clear:both"></div>
    <hr noshade><hr noshade>
    {% for recipe in recipe_list %}
        <a class="button" id="recipe" href = "{% url 'menu:recipedetails' recipe.id %}">{{ recipe.name }}</a>
        <hr noshade>
    {% endfor %}
</div>
