{% load staticfiles %}
{% load menu_extras %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="title">
    Recipe Home
</div>
<a href = "{% url 'menu:addrecipe' %}">Add Recipe</a>
<div id="content">
    <ul>
    {% for recipe in recipe_list %}
        <li><a href = "{% url 'menu:recipedetails' recipe.id %}">{{ recipe.name }}</a></li>
        <hr noshade>
    {% endfor %}
    </ul>
</div>
