{% load staticfiles %}
{% load menu_extras %}
{% include "menu/stylesheets.html" %}

<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'menu/js/test.js' %}"></script>-->
<!--<body>-->
<!--<h1 id="h01"></h1>-->
<!--</body>-->

<div id="title">
    Recipe Home
</div>
<div id="content">
    <div>
        <a class="button" id="nav" href="{% url 'menu:addrecipe' %}">Add Recipe</a>
        <a class="button" id="nav" href="{% url 'menu:shoppinglist' %}">View Shopping List</a>
    </div><div style="clear:both"></div>
    <hr noshade><hr noshade>
    {% for recipe in recipe_list %}
        <a class="button" id="recipe" href = "{% url 'menu:recipedetails' recipe.id %}">{{ recipe.name }}</a>
        <hr noshade>
    {% endfor %}
</div>
