{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="title">
    {{ recipe.name }}
</div>
<a href="{% url 'menu:index' %}">Back to Recipe List</a>
<a href="{% url 'menu:editrecipe' recipe.id %}">Edit Recipe</a>
<a href="{% url 'menu:shoppinglist' 1 %}">View Shopping List</a>
<div id="aside">
    <h3>Ingredients</h3>
    <form action="{% url 'menu:addtoshoppinglist' recipe.id %}" method="post">
    {% csrf_token %}
        <ul>
            {% for i in recipe.ingredient_set.all %}
                <li><input type="checkbox" name={{i.id}} value={{i.id}}>{{ i.name }} - {{ i.amount }} {{ i.unit }}</li>
            {% endfor %}
        </ul>
        <input type=submit value="Add Checked to List" id="submit">
    </form>
</div>
<div id="content">
    <h3>Directions</h3>
    {{ recipe.directions | safe }}
</div>
<div id="aside2">
    <ul>
        <li>Method: {{ recipe.prepMethod }}</li>
        <li>Temp: {{ recipe.temperature }}</li>
        <li>Prep Time: {{ recipe.prepTime }}</li>
        <li>Cook Time: {{ recipe.cookTime }}</li>
        <li>Servings: {{ recipe.servings }}</li>
        <li>URL: {{ recipe.url }}</li>
    </ul>
</div>

<div style="clear:both"></div>
