{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="title">
    {% for r in recipe_result %}
        {{ r.name }}
    {% endfor %}
</div>
<a href="{% url 'menu:index' %}">Back to Recipe List</a>
{% for r in recipe_result %}
    <a href="{% url 'menu:editrecipe' r.id %}">Edit Recipe</a>
{% endfor %}
<div id="aside">
    <h3>Ingredients</h3>
    <input type=button value="Add Checked to List" id="submit"><br><br>
    <ul>
        {% for i in ingredient_result %}
            <li><input type="checkbox" name="ingredient" value={{i.id}}>{{ i.name }} - {{ i.amount }} {{ i.unit }}</li>
        {% endfor %}
    </ul>
</div>
<div id="content">
    <h3>Directions</h3>
    {% for r in recipe_result %}
        {{ r.directions | safe }}
    {% endfor %}
</div>
<div id="aside2">
    {% for r in recipe_result %}
        <ul>
            <li>Method: {{ r.prepMethod }}</li>
            <li>Temp: {{ r.temperature }}</li>
            <li>Prep Time: {{ r.prepTime }}</li>
            <li>Cook Time: {{ r.cookTime }}</li>
            <li>Servings: {{ r.servings }}</li>
            <li>URL: {{ r.url }}</li>
        </ul>
    {% endfor %}
</div>

<div style="clear:both"></div>
