{% load staticfiles %}
{% include "menu/stylesheets.html" %}

<div id="title">
    Retired Recipes
</div>
<div id="content">
    <div>
        <a class="button" id="nav" href="{% url 'menu:index' %}">Back to Recipe List</a>
    </div><div style="clear:both"></div>
    <hr noshade><hr noshade>


    <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
            {{ form.id }} {{ form }}
            <hr noshade>
        {% endfor %}
        <hr noshade>
        <input type="submit" value="Retire Unchecked/Untire Checked" id="submit"/>
    </form>


</div>
