{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="title">
    Shopping List
</div>
<div id="content">
    <a class="buttonnav" href="{% url 'menu:index' %}">Back to Recipe List</a>
    <hr noshade><hr noshade>
    <ul>
    {% for sl in shoppinglist_list %}
        <li><input type="checkbox" name={{sl.id}} value={{sl.id}}>{{sl.ingredient.name}} - {{sl.ingredient.amount}} {{sl.ingredient.unit}}
    {% endfor %}
    </ul>
</div>
