{% load staticfiles %}
{% load menu_extras %}
{% include "menu/stylesheets.html" %}

<div id="title">
    Shopping List
</div>
<div id="content">
    <div>
        <a class="button" id="nav" href="{% url 'menu:index' %}">Back to Recipe List</a>
    </div><div style="clear:both"></div>
    <hr noshade><hr noshade>

    <form action="{% url 'menu:updateshoppinglist' %}" method="post">
    {% csrf_token %}

        {% for sl in shoppinglist_list %}
            {% if sl.status == 1 %}<del>{% endif %}
            {{sl.ingredient.name}} - {{sl.amount|showinteger}}{{sl.amount|showfraction}} {{sl.ingredient.unit}}
            {% if sl.status == 1 %}</del>{% endif %}

            <div class="shoppingList">
                <input type="hidden" value=0 name={{sl.id}} />
                <input type="checkbox" value=1 id={{sl.id}} {% if sl.status == 1 %} checked {% endif %} name={{sl.id}} />
                <label for={{sl.id}}></label>
            </div>

            <hr noshade>

        {% endfor %}
        <input type=submit value="Update Shopping List" id="submit">
    </form>
</div>
