{% load staticfiles %}
{% load menu_extras %}
{% include "menu/stylesheets.html" %}
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>-->

<html>
	<head>
		<meta charset="utf-8">
		<title>File uploads</title>
	</head>
	<div id="title">
		Recipe Upload
	</div>
    <body>
		<div id="aside"><!-- Upload form. Note enctype attribute! -->
			<div>
				<a class="button" id="nav" href="{% url 'menu:index' %}">Back to Recipe List</a>
			</div><div style="clear:both"></div>
			<hr noshade><hr noshade>
      		<form action="{% url 'menu:showdocuments' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }}
				{{ form.docfile.help_text }}
				{{ form.docfile.errors }}</p>

                <!--<div class="fileUpload btn btn-primary">-->
                    <!--<span>Choose File</span>-->
                    <!--<input type="file" class="upload" />-->
                <!--</div>-->

				<p>{{ form.docfile }}</p>
				<input type="submit" value="Upload" id="submit"/>
			</form>
			<a href="{% url 'menu:processuploads' %}" class="button">Process Documents</a>
		</div>

		<div id="content"> <!-- List of uploaded documents -->
			{% if documents %}
				<ul>
				{% for document in documents %}
					<li>
					<a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
					<a href="{% url 'menu:deletedocument' document.id %}">Delete</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No documents.</p>
			{% endif %}
		</div>
	</body>
</html>
