{% load staticfiles %}
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--<script src="{% static "js/jquery-1.11.1.js" %}"></script>-->
<!--<script type="text/javascript" src="{% static 'menu/js/jquery.js' %}"></script>-->
<script type="text/javascript" src="{% static 'menu/js/jquery-1.4.3.min.js' %}"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--<script src='https://github.com/aljosa/django-jquery/blob/master/django_jquery/media/jquery/jquery-1.4.3.min.js'></script>-->