{% load staticfiles %}
{% load menu_extras %}

<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/test.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<div class="wrapper">
  <div class="menu">
        <a href="#" class="one">One</a>
        <a href="#" class="two">Two</a>
        <a href="#" class="three">Three</a>
        <a href="#" class="four">Four</a>
        <a href="#" class="five">Five</a>
        <a href="#" class="six">Six</a>
        <a href="#" class="seven">Seven</a>
        <a href="#" class="eight">Eight</a>
    <div class="circle">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
        </ul>
    </div>
  </div>
</div>