{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'cook/style.css' %}" />

<div id="title">
    {% for Recipe in recipe_query %}
        {{ Recipe.name }}
    {% endfor %}
</div>
<div style="margin-right: 10em">
    <div id="directions">
        <h3>Directions</h3>
        {% if recipe_query %}
            {% for Recipe in recipe_query %}
                {{ Recipe.directions | safe }}
            {% endfor %}
        {% else %}
            No directions exist for this recipe in the database. Just do whatever, I suppose.
        {% endif %}

    </div>
    <div id="ingredients">
        <h3>Ingredients</h3>
        {% if ingredient_query %}
            {% for Ingredient in ingredient_query %}
                <input type="checkbox" name="ingredient" value={{Ingredient.id}}> {{ Ingredient.name }} <br>
            {% endfor %}
        {% else %}
            No ingredients in result set. Make something from nothing.
        {% endif %}
    </div>

</div>
<div style="clear:both"></div>

<!--<h1>RecipeIngredient table</h1>-->
<!--{% if recipeingredient_list %}-->
    <!--<ul>-->
    <!--{% for RecipeIngredient in recipeingredient_list %}-->
    <!--<li>-->
        <!--{{ RecipeIngredient.Ingredient_id }}-->
    <!--</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--{% else %}-->
    <!--<p>No ingredients in result set.</p>-->
<!--{% endif %}-->

<!--<br><br>-->
<!--<h1>Ingredient table</h1>-->
<!--<p>works for Ingredient.objects.all()</p>-->
<!--{% if ingredient_list %}-->
    <!--<ul>-->
        <!--{% for Ingredient in ingredient_list %}-->
    <!--<li>-->

        <!--{{ Ingredient.name }}-->
    <!--</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--{% else %}-->
    <!--<p>No ingredients in result set.</p>-->
<!--{% endif %}-->


